<div class="modal-header">
  <h4 class="modal-title pull-left">
    <il-icon for="fa-upload"></il-icon>
    Bild für {{ product?.name }} hochladen
  </h4>
  <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <il-upload-box (fileSelected)="imageSelected($event)"></il-upload-box>

  <div class="row justify-content-center">
    <div class="col">
      <div class="image-preview thumbnail" *ngIf="imageData">
        <img [src]="imageData">
      </div>
    </div>
  </div>
</div>

<il-modal-button-footer>
  <button type="button" class="left btn btn-primary btn-block btn-lg" (click)="hideModal()">
    <il-icon for="cancel"></il-icon>
    Abbrechen
  </button>
  <button type="button" class="right btn btn-success btn-block btn-lg" [disabled]="loading" (click)="upload()">
    <il-icon for="fa-upload" *ngIf="!loading"></il-icon>
    <il-icon for="spinner" *ngIf="loading"></il-icon>
    Hochladen
  </button>
</il-modal-button-footer>
