<div class="row">

  <il-event-overview-card title="Datum" icon="fa-clock-o">
    <span class="title-right">
      <a routerLink="../edit" title="Bearbeiten">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </span>

    <p>
      <strong>Datum:</strong>
      {{ event.datetime | date:'dd.MM.yyyy' }}
    </p>
    <p>
      <strong>Uhrzeit:</strong>
      {{ event.datetime | date:'HH:mm' }} Uhr
    </p>
  </il-event-overview-card>



  <il-event-overview-card title="Kasse" icon="fa-money">
    <span class="title-right">
      <a title="Bearbeiten" (click)="cashModal.show()">
        <i class="fa fa-pencil" aria-hidden="true"></i>
      </a>
    </span>

    <p>
      <strong>vorher:</strong>
      {{ event.cashBefore | currency:'EUR':true }}
    </p>
    <p>
      <strong>nachher:</strong>
      {{ event.cashAfter | currency:'EUR':true }}
    </p>
    <p *ngIf="event.tip">
      <strong>Trinkgeld:</strong>
      {{ event.tip | currency:'EUR':true }}
    </p>

    <a class="btn btn-default btn-block btn-sm"
      style="margin-top: 13px"
      *ngIf="cashEmpty"
      (click)="cashModal.show()">
      Kassenstand eintragen
    </a>
  </il-event-overview-card>



  <il-event-overview-card title="Finanzen" icon="fa-bar-chart" *ngIf="!event.active">
    <span class="title-right" *ngIf="calcLoading">
      <i class="fa fa-circle-o-notch fa-spin fa-fw pull-right" aria-hidden="true"></i>
    </span>

    <div *ngIf="calc">
      <p>
        <strong>Umsatz:</strong>
        {{ calc?.sales | currency:'EUR':true }}
      </p>
      <p>
        <strong>Kosten:</strong>
        {{ calc?.costs | currency:'EUR':true }}
      </p>
      <p>
        <strong>Gewinn:</strong>
        {{ calc?.profit | currency:'EUR':true }}
      </p>
      <small class="pull-right text-muted">(geschätzte Werte)</small>
    </div>
  </il-event-overview-card>
</div>

<div class="row">
  <il-event-overview-card title="Zählung" icon="fa-list-ol" *ngIf="event.active">
    <div *ngIf="event.eventType.countAllowed; else noCountAllowedTpl">
      <a class="btn btn-primary btn-block btn-lg" style="margin-bottom: 10px">
        <i class="fa fa-snowflake-o" aria-hidden="true"></i>
        Kühlschrank
      </a>
      <a class="btn btn-warning btn-block btn-lg">
        <i class="fa fa-database" aria-hidden="true"></i>
        Lager
      </a>
    </div>
    <ng-template #noCountAllowedTpl>
      Für dieses Ereignis darf keine Zählung durchgeführt werden.
    </ng-template>
  </il-event-overview-card>

  <il-event-overview-card title="Abschließen" icon="fa-power-off" *ngIf="event.active">
    <a class="btn btn-danger btn-block btn-lg" style="margin-top: 28px">
      <i class="fa fa-check" aria-hidden="true"></i>
      Event schließen
    </a>
  </il-event-overview-card>
</div>



<div bsModal #cashModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
  <il-cash-modal [event]="event" (hide)="cashModal.hide()"></il-cash-modal>
</div>


