<div class="row">

  <il-event-overview-card title="Datum" icon="clock">
    <span class="title-right">
      <a routerLink="../edit" title="Bearbeiten">
        <il-icon for="edit"></il-icon>
      </a>
    </span>

    <p>
      <strong>Datum:</strong>
      {{ event.datetime | date:'dd.MM.yyyy' }}
    </p>
    <p>
      <strong>Uhrzeit:</strong>
      {{ event.datetime | date:'HH:mm' }} Uhr
    </p>
  </il-event-overview-card>



  <il-event-overview-card title="Kasse" icon="cash" *ngIf="!isPurchase">
    <span class="title-right">
      <a title="Bearbeiten" (click)="showCashModal()">
        <il-icon for="edit"></il-icon>
      </a>
    </span>

    <p>
      <strong>vorher:</strong>
      {{ event.cashBefore | currency:'EUR' }}
    </p>
    <p [ngClass]="{ 'text-warning': cashAfterIsLess }">
      <strong>nachher:</strong>
      {{ event.cashAfter | currency:'EUR' }}
      <i *ngIf="cashAfterIsLess" class="fa fa-exclamation-triangle" aria-hidden="true"></i>
    </p>
    <p *ngIf="event.tip">
      <strong>Trinkgeld:</strong>
      {{ event.tip | currency:'EUR' }}
    </p>

    <a class="btn btn-default btn-block btn-sm"
      style="margin-top: 13px"
      *ngIf="cashEmpty"
      (click)="showCashModal()">
      Kassenstand eintragen
    </a>
  </il-event-overview-card>



  <il-event-overview-card title="Finanzen" icon="fa-bar-chart" *ngIf="!event.active">
    <span class="title-right" *ngIf="calcLoading">
      <il-icon for="spinner"></il-icon>
    </span>

    <div *ngIf="calc">
      <p>
        <strong>Umsatz:</strong>
        {{ calc?.sales | currency:'EUR' }}
      </p>
      <p>
        <strong>Kosten:</strong>
        {{ calc?.costs | currency:'EUR' }}
      </p>
      <p>
        <strong>Gewinn:</strong>
        {{ calc?.profit | currency:'EUR' }}
      </p>
      <small class="pull-right text-muted">(geschätzte Werte)</small>
    </div>
  </il-event-overview-card>

  <il-event-overview-card title="Zählung" icon="fa-list-ol" *ngIf="event.active">
    <div *ngIf="event.eventType.countAllowed; else noCountAllowedTpl">
      <a class="btn btn-primary btn-block btn-lg" style="margin-bottom: 10px" routerLink="../count/counter">
        <il-icon for="counter"></il-icon>
        Kühlschrank
      </a>
      <a class="btn btn-warning btn-block btn-lg" routerLink="../count/storage">
        <il-icon for="storage"></il-icon>
        Lager
      </a>
    </div>
    <ng-template #noCountAllowedTpl>
      Für auswärtige Events darf keine Zählung durchgeführt werden.
    </ng-template>
  </il-event-overview-card>

  <il-event-overview-card title="Ereignis bearbeiten" icon="edit" *ngIf="event.active">
    <a class="btn btn-primary btn-block" style="margin-bottom: 10px" routerLink="../edit">
      <il-icon for="edit"></il-icon>
      Bearbeiten
    </a>
    <a class="btn btn-danger btn-block" (click)="showDeleteModal()">
      <il-icon for="delete"></il-icon>
      Ereignis löschen
    </a>
  </il-event-overview-card>

  <il-event-overview-card title="Ereignis abschließen" icon="fa-calendar-check-o" *ngIf="event.active">
    <a class="btn btn-success btn-block btn-lg" style="margin-top: 28px" routerLink="../close">
      <il-icon for="evClose"></il-icon>
      Abschließen
    </a>
  </il-event-overview-card>

  <div *ngIf="!this.event.active">
    <a routerLink="../inventory" class="btn btn-primary btn-lg">
      <il-icon for="stock"></il-icon>
      Lagerbestand anzeigen
    </a>
  </div>
</div>


