<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <div class="page-header">
        <h1>
          <il-icon for="fa-coffee"></il-icon>
          Produkte

          <a class="btn btn-success pull-right" routerLink="../create">
            <il-icon for="plus"></il-icon>
            Hinzufügen
          </a>
        </h1>
      </div>

      <div class="row">
        <ngx-datatable class="material" [rows]="products$ | async" [columns]="columns" [draggable]="false" columnMode="force" rowHeight="auto">
        </ngx-datatable>

        <ng-template #tplActive let-row="row">
          <il-icon for="fa-check-circle" class="text-success" title="aktiv" *ngIf="row.active"></il-icon>
          <il-icon for="fa-times-circle" class="text-danger" title="inaktiv" *ngIf="!row.active"></il-icon>
        </ng-template>

        <ng-template #tplImg let-row="row">
          <img [src]="row.imgFilename" width="30" height="30">
        </ng-template>

        <ng-template #tplCategory let-row="row">
          <a href="#">{{ row.category.name }}</a>
        </ng-template>

        <ng-template #tplUnit let-row="row" let-unit="value">
          <span *ngIf="unit.full">{{ unit.short }} ({{ unit.full }})</span>
        </ng-template>

        <ng-template #tplActions let-row="row">
          <a class="btn btn-xs btn-primary" [routerLink]="['..', row.id, 'edit']">
            <il-icon for="edit"></il-icon>
            Bearbeiten
          </a>
          <a class="btn btn-xs btn-success" [routerLink]="['..', row.id, 'details']">
            Details
            <il-icon for="fa-arrow-right"></il-icon>
          </a>

          <span *ngIf="!row.active">inaktiv</span>
        </ng-template>

      </div>
    </div>
  </div>
</div>
