<div class="container content">
  <div class="row">
    <div class="col-12">
      <div class="page-header">
        <h1>
          <il-icon for="fa-coffee"></il-icon>
          Produktdetails

          <a class="btn btn-outline-primary btn-sm" routerLink="../../list">
            <il-icon for="fa-arrow-left"></il-icon>
            Alle anzeigen
          </a>
        </h1>
      </div>

      <div class="row" *ngIf="product.active && !hasActiveSizes">
        <div class="alert alert-warning">
          <il-icon for="warning"></il-icon>
          Für dieses Produkt sind keine aktiven Gebindegrößen hinterlegt.
          <strong>Du solltest das Produkt deaktivieren.</strong>
          <button class="btn btn-sm btn-secondary pull-right" (click)="showActivationModal(false)">
            <il-icon for="deactivate"></il-icon>
            Produkt deaktivieren
          </button>
        </div>
      </div>

      <div class="row" *ngIf="!product.active">
        <div class="alert alert-info">
          <il-icon for="fa-info-circle"></il-icon>
          Dieses Produkt ist inaktiv. Es wird nicht bei Entnahmen und Zählungen angezeigt.
          <button class="btn btn-sm btn-secondary pull-right" (click)="showActivationModal(true)">
            <il-icon for="activate"></il-icon>
            Produkt aktivieren
          </button>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col-sm-4 col-lg-2 text-center">
          <img [src]="product.imgFilename" alt="" class="img-thumbnail">
          <button class="btn btn-sm btn-block btn-secondary mt-2" (click)="showUploadModal()">
            <il-icon for="fa-upload"></il-icon>
            Hochladen
          </button>
        </div>

        <div class="col-sm-8 col-lg-10 mt-4 mt-sm-0 product-info">
          <h2>{{ product.name }}</h2>
          <p *ngIf="product.description">
            {{ product.description }}
          </p>
          <hr>
          <strong>Einheit:</strong> {{ product.unit.full }} ({{ product.unit.short }})
          <br>
          <strong>Kategorie:</strong>
          <a href="#">{{ product.category.name }}</a>
          <br>
          <br>
          <a class="btn btn-primary btn-sm" routerLink="../edit">
            <il-icon for="edit"></il-icon>
            Bearbeiten
          </a>
          <a class="btn btn-danger btn-sm" (click)="showDeleteModal()">
            <il-icon for="delete"></il-icon>
            Löschen
          </a>
          <a *ngIf="product.active" class="btn btn-warning btn-sm" (click)="showActivationModal(false)">
            <il-icon for="deactivate"></il-icon>
            Deaktivieren
          </a>
          <a *ngIf="!product.active" class="btn btn-success btn-sm" (click)="showActivationModal(true)">
            <il-icon for="activate"></il-icon>
            Aktivieren
          </a>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <h3>
            <il-icon for="sizeType"></il-icon>
            Gebindegrößen
          </h3>
          <il-product-sizes-table [product]="product"></il-product-sizes-table>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col">
          <h3>
            <il-icon for="crateType"></il-icon>
            Kastengrößen
          </h3>
          <il-product-crates-table [product]="product"></il-product-crates-table>
        </div>
      </div>
    </div>
  </div>
</div>
