<div [ngClass]="transfer.change < 0 ? 'item-out' : 'item-in'" [title]="transfer.change < 0 ? 'Entnahme' : 'Rückgabe'">
  <span class="badge pull-right" [ngClass]="transfer.change < 0 ? 'badge-danger' : 'badge-success'">
    {{ transfer.change
    < 0 ? '–' : '+' }} {{ transfer.change | abs }} </span>
      <h6>
        {{ transfer.product.name }}
      </h6>
      <p class="small">
        {{ transfer.sizeType.description }} {{ transfer.sizeType.amount | number }} {{ transfer.product.unit.short }}
      </p>
</div>
