:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.top {
  height: 60px;
  position: absolute;
  padding: 15px 0 0 15px;
  font-size: 18pt;
  font-weight: 500;
}

.bottom {
  bottom: 0;
  width: 100%;
  height: 100px;
  position: absolute;
}

.scroll-area{
  width: 100%;
  height: calc(100% - 200px);
  margin-top:60px;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  float: left;
  overflow-y: auto;
}

.scroll-area .box-message {
  margin-top: 50px;
  font-weight: bold;
}
