:host {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
}

.top {
  height: 80px;
  position: absolute;
  padding-left: 15px;
}

.top h3 {
  margin-bottom: 0;
}


.scroll-area{
  width: 100%;
  height: calc(100% - 150px);
  margin-top: 80px;
  border-top: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  float: left;
  overflow-y: auto;
}

.scroll-area .box-message {
  margin-top: 50px;
  font-weight: bold;
}

.bottom {
  bottom: 0;
  width: 100%;
  height: 60px;
  position: absolute;
}

.bottom div {
  padding: 3px 10px;
}
