<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <div class="page-header">
        <h1>
          <il-icon for="calendar"></il-icon>
          Ereignisse
        </h1>
      </div>

      <table class="table table-hover table-striped event-table">
        <thead>
          <tr>
            <th>Datum</th>
            <th>Typ</th>
            <th>Uhrzeit</th>
            <th>Beschreibung</th>
          </tr>
        </thead>
        <tr *ngFor="let e of events" [routerLink]="e.id" [class.success]="e.active">
          <td>
            {{ e.datetime | date:'dd. MMMM yyyy' }}
            <span class="text-muted pull-right small">{{ e.datetime | date:'EE' }}</span>
          </td>
          <td>
            <il-icon [for]="e.eventType.icon"></il-icon>
            {{ e.eventType.description }}
          </td>
          <td>{{ e.datetime | date:'HH:mm' }} Uhr</td>
          <td>
            {{ e.description }}
            <span *ngIf="e.active" class="label label-success pull-right">
              <il-icon for="evActive"></il-icon>
              aktiv
            </span>
          </td>
        </tr>
      </table>


    </div>
  </div>
</div>
