<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 content">
      <div class="page-header">
        <h1>
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Ereignisse
        </h1>
      </div>

      <table class="table table-bordered table-hover event-table">
        <thead>
          <tr>
            <th>Typ</th>
            <th>Beschreibung</th>
            <th>Datum</th>
          </tr>
        </thead>
        <tr *ngFor="let e of events" [routerLink]="e.id" [class.warning]="e.active">
          <td>
            <i class="fa" [ngClass]="e.eventType.icon" aria-hidden="true"></i>
            {{ e.eventType.description }}
          </td>
          <td>
            {{ e.description }}
            <span *ngIf="e.active" class="label label-warning pull-right">
              <i class="fa fa-unlock" aria-hidden="true"></i>
              aktiv
            </span>
          </td>
          <td>{{ e.datetime | date:'dd.MM.yyyy, HH:mm' }} Uhr</td>
        </tr>
      </table>


    </div>
  </div>
</div>
