<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <div class="page-header">
        <h1>
          <il-icon for="plus"></il-icon>
          Ereignis anlegen
        </h1>
      </div>
      <div class="row">

        <div class="col-sm-3">
          <a class="btn btn-primary btn-card btn-block" routerLink="./event">
            <il-icon for="evEvent" classes="fa-3x"></il-icon>
            Veranstaltung
          </a>
        </div>

        <div class="col-sm-3">
          <a class="btn btn-primary btn-card btn-block" routerLink="./private">
            <il-icon for="evPrivate" classes="fa-3x"></il-icon>
            Spontanentnahme
          </a>
        </div>

        <div class="col-sm-3">
          <a class="btn btn-primary btn-card btn-block" routerLink="./purchase">
            <il-icon for="evPurchase" classes="fa-3x"></il-icon>
            Einkauf
          </a>
        </div>

        <div class="col-sm-3">
          <a class="btn btn-primary btn-card btn-block" routerLink="./stocktake">
            <il-icon for="evStocktake" classes="fa-3x"></il-icon>
            Inventur
          </a>
        </div>
    </div>
  </div>
</div>
