<div class="container">
  <div class="row">
    <div class="col-md-12 content">
      <h1>
        <il-icon for="fa-cube"></il-icon>
        Gebinde &amp; Einheiten
        <small>{{ subHeadline }}</small>
      </h1>

      <ul class="nav nav-fill nav-tabs mt-4 mb-4">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="size-types">
            <il-icon for="fa-glass"></il-icon>
            Gebindegrößen
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="crate-types">
            <il-icon for="fa-archive"></il-icon>
            Kastengrößen
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="units">
            <il-icon for="unit"></il-icon>
            Einheiten
          </a>
        </li>
      </ul>

      <router-outlet></router-outlet>

    </div>
  </div>
