<div [ngClass]="transaction.changeTotal < 0 ? 'item-out' : 'item-in'" [title]="transaction.changeTotal < 0 ? 'Entnahme' : 'Rückgabe'">
  <span class="badge pull-right" [ngClass]="transaction.changeTotal < 0 ? 'badge-danger' : 'badge-success'">
      {{ transaction.changeTotal
        < 0 ? '–' : '+' }} {{ transaction.changeTotal | abs }} </span>
      <h6>
        {{ transaction.product.name }}
      </h6>
      <p class="small">
          {{ transaction.sizeType.description }} {{ transaction.sizeType.amount | number }} {{ transaction.product.unit.short }}
      </p>
</div>
