<div class="modal-header">
  <h4 class="modal-title pull-left">
    <il-icon for="clock"></il-icon>
    Uhrzeit auswählen
  </h4>
  <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form (ngSubmit)="submitForm()">
  <div class="modal-body">
    <div stye="width: 150px; margin: auto">
      <timepicker [(ngModel)]="date" name="date" [showMeridian]="false" [minuteStep]="15"></timepicker>
    </div>
    <div class="text-center">
      <button type="button" class="btn btn-primary" (click)="setTime(-1, -1)">
        Jetzt
      </button>
      <button type="button" class="btn btn-primary" (click)="setTime(18, 30)">
        18:30
      </button>
      <button type="button" class="btn btn-primary" (click)="setTime(19, 0)">
        19:00
      </button>
      <button type="button" class="btn btn-primary" (click)="setTime(21, 0)">
        21:00
      </button>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-primary btn-block btn-lg">
      <il-icon for="ok"></il-icon>
      OK
    </button>
  </div>
</form>
