<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <i class="fa" [ngClass]="outgoingTransfer ? 'fa-mail-forward' : 'fa-mail-reply'" aria-hidden="true"></i>
            Neue Lager<span *ngIf="outgoingTransfer">entnahme</span><span *ngIf="!outgoingTransfer">rückgabe</span>:
            {{ product.name }}
          </h3>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="submitForm()" [formGroup]="form">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-4 col-md-offset-1">
                  <button type="button" class="btn btn-block"
                    [ngClass]="outgoingTransfer ? 'btn-info' : 'btn-default'"
                    (click)="outgoingTransfer = true">
                    <i class="fa fa-mail-forward" aria-hidden="true"></i>
                    Entnahme
                  </button>
                </div>
                <div class="col-md-2">
                  <p class="text-center ortext">ODER</p>
                </div>
                <div class="col-md-4">
                  <button type="button" class="btn btn-block"
                    [ngClass]="outgoingTransfer ? 'btn-default' : 'btn-info'"
                    (click)="outgoingTransfer = false">
                    <i class="fa fa-mail-reply" aria-hidden="true"></i>
                    Rückgabe
                  </button>
                </div>
              </div>

              <hr>

              <div class="row">
                <div formArrayName="sizeTypes">
                  <div
                    class="col-md-{{ grid.col }}"
                    [ngClass]="first ? 'col-md-offset-' + grid.offset : ''"
                    *ngFor="let st of product.sizeTypes; let first = first; let i = index">
                    <h3 class="text-center">{{ st.description }} {{ st.amount | number }} {{ product.unit.short }}</h3>
                    <il-counter-control minValue="0" [formControlName]="i"></il-counter-control>
                  </div>
                </div>

                <div formArrayName="crateTypes">
                  <div class="col-md-{{ grid.col }}" *ngFor="let ct of product.crateTypes; let i = index">
                    <h3 class="text-center">Kasten {{ ct.slots }} &times; {{ ct.sizeType.amount | number }} {{ product.unit.short }}</h3>
                    <il-counter-control minValue="0" [formControlName]="i"></il-counter-control>
                  </div>
                </div>
              </div>

              <hr>

              <div class="row" style="margin-top: 20px">
                <div class="col-md-3 col-md-offset-3">
                  <button type="button" class="btn btn-danger btn-lg btn-block" routerLink="../../">
                    <i class="fa fa-times" aria-hidden="true"></i>
                    Abbrechen
                  </button>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="form.invalid">
                    <i class="fa fa-check" aria-hidden="true"></i>
                    <span *ngIf="outgoingTransfer">Entnehmen</span>
                    <span *ngIf="!outgoingTransfer">Zurücklegen</span>
                  </button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
