<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <il-icon [for]="outgoingTransfer ? 'transferOut' : 'transferIn'"></il-icon>
            {{ getString(outgoingTransfer ? 'boxHeadlineOut' : 'boxHeadlineIn') }}:
            {{ product.name }}
          </h3>
        </div>
        <div class="panel-body">
          <form (ngSubmit)="submitForm()" [formGroup]="form">
            <div class="container-fluid">
              <ng-template [ngIf]="!hideInOutSwitcher">
                <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                    <button type="button" class="btn btn-block"
                      [disabled]="loading"
                      [ngClass]="outgoingTransfer ? 'btn-info' : 'btn-default'"
                      (click)="outgoingTransfer = true">
                      <il-icon for="transferOut"></il-icon>
                      Entnahme
                    </button>
                  </div>
                  <div class="col-md-2">
                    <p class="text-center ortext">ODER</p>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-block"
                      [disabled]="loading"
                      [ngClass]="outgoingTransfer ? 'btn-default' : 'btn-info'"
                      (click)="outgoingTransfer = false">
                      <il-icon for="transferIn"></il-icon>
                      Rückgabe
                    </button>
                  </div>
                </div>

                <hr>
              </ng-template>

              <ng-template [ngIf]="!hideStorageCounterSwitcher">
                <div class="row">
                  <div class="col-md-4 col-md-offset-1">
                    <button type="button" class="btn btn-block"
                      [disabled]="loading"
                      [ngClass]="storageTransfer ? 'btn-warning' : 'btn-default'"
                      (click)="storageTransfer = true">
                      <il-icon for="storage"></il-icon>
                      Lager
                    </button>
                  </div>
                  <div class="col-md-2">
                    <p class="text-center ortext">ODER</p>
                  </div>
                  <div class="col-md-4">
                    <button type="button" class="btn btn-block"
                      [disabled]="loading || !outgoingTransfer || noCounterRemoval"
                      [ngClass]="storageTransfer ? 'btn-default' : 'btn-primary'"
                      (click)="storageTransfer = false">
                      <il-icon for="counter"></il-icon>
                      Kühlschrank
                    </button>
                  </div>
                </div>

                <hr>
              </ng-template>

              <div class="row">
                <div formArrayName="sizeTypes">
                  <div
                    class="col-md-{{ grid.col }} col-md-offset-{{ grid.offset }}"
                    *ngFor="let st of product.sizeTypes; let i = index">
                    <h3 class="text-center">{{ st.description }} {{ st.amount | number }} {{ product.unit.short }}</h3>
                    <il-counter-control minValue="0" [formControlName]="i"></il-counter-control>
                  </div>
                </div>

                <div formArrayName="crateTypes">
                  <div
                    class="col-md-{{ grid.col }} col-md-offset-{{ grid.offset }}"
                    *ngFor="let ct of product.crateTypes; let i = index">
                    <h3 class="text-center">{{ ct.description }} {{ ct.slots }} &times; {{ ct.sizeType.amount | number }} {{ product.unit.short }}</h3>
                    <il-counter-control minValue="0" [formControlName]="i"></il-counter-control>
                  </div>
                </div>
              </div>

              <hr>

              <div class="row" style="margin-top: 20px">
                <div class="col-md-3 col-md-offset-3">
                  <button type="button" class="btn btn-danger btn-lg btn-block" (click)="cancelForm()">
                    <il-icon for="cancel"></il-icon>
                    Abbrechen
                  </button>
                </div>
                <div class="col-md-3">
                  <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="form.invalid || loading">
                    <il-icon for="ok" *ngIf="!loading"></il-icon>
                    <il-icon for="spinner" *ngIf="loading"></il-icon>
                    {{ getString(outgoingTransfer ? 'btnOutLabel' : 'btnInLabel') }}
                  </button>
                </div>
              </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
