<div class="row justify-content-center">
  <div class="col-10">
    <h3 class="text-center mb-4">
      <il-icon [for]="outgoingTransfer ? 'transferOut' : 'transferIn'"></il-icon>
      {{ getString(outgoingTransfer ? 'boxHeadlineOut' : 'boxHeadlineIn') }}: {{ product.name }}
    </h3>

    <form (ngSubmit)="submitForm()" [formGroup]="form">
      <div class="container-fluid">

        <!-- SWITCHER In/Out -->
        <ng-template [ngIf]="!hideInOutSwitcher">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <button type="button" class="btn btn-block" [disabled]="loading" [ngClass]="outgoingTransfer ? 'btn-info' : 'btn-secondary'"
                (click)="outgoingTransfer = true">
                <il-icon for="transferOut"></il-icon>
                Entnahme
              </button>
            </div>
            <div class="col-md-2">
              <p class="text-center ortext">ODER</p>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-block" [disabled]="loading" [ngClass]="outgoingTransfer ? 'btn-secondary' : 'btn-info'"
                (click)="outgoingTransfer = false">
                <il-icon for="transferIn"></il-icon>
                Rückgabe
              </button>
            </div>
          </div>
        </ng-template>

        <!-- SWITCHER Storage/Counter -->
        <ng-template [ngIf]="!hideStorageCounterSwitcher">
          <div class="row justify-content-center">
            <div class="col-md-4">
              <button type="button" class="btn btn-block" [disabled]="loading" [ngClass]="(storageTransfer && storageCounterSelectionDone) ? 'btn-warning' : 'btn-secondary'"
                (click)="setStorageTransfer(true)">
                <il-icon for="storage"></il-icon>
                Lager
              </button>
            </div>
            <div class="col-md-2">
              <p class="text-center ortext">ODER</p>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn btn-block" [disabled]="loading || !outgoingTransfer || noCounterRemoval" [ngClass]="(!storageTransfer && storageCounterSelectionDone) ? 'btn-primary' : 'btn-secondary'"
                (click)="setStorageTransfer(false)">
                <il-icon for="counter"></il-icon>
                Kühlschrank
              </button>
            </div>
          </div>
        </ng-template>

        <div class="row justify-content-around mt-4" *ngIf="!isPrivateRemoval || (isPrivateRemoval && storageCounterSelectionDone)">
          <ng-container formArrayName="sizeTypes">
            <div class="col-auto mb-4" *ngFor="let s of product.sizes; index as i">
              <h5 class="text-center">{{ s.sizeType.description }} {{ s.sizeType.amount | number }} {{ product.unit.short }}</h5>
              <il-counter-control minValue="0" [formControlName]="i" ilMathEval [roundToInt]="true"></il-counter-control>
            </div>
          </ng-container>

          <ng-container formArrayName="crateTypes">
            <div class="col-auto mb-4" *ngFor="let ct of product.crateTypes; index as i">
              <h5 class="text-center">{{ ct.description }} {{ ct.slots }} &times; {{ ct.sizeType.amount | number }} {{ product.unit.short }}</h5>
              <il-counter-control minValue="0" [formControlName]="i" ilMathEval [roundToInt]="true"></il-counter-control>
            </div>
          </ng-container>
        </div>

        <hr>

        <div class="row justify-content-center mt-4">
          <div class="col-md-4 col-lg-3 mb-2">
            <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="form.invalid || loading">
              <il-icon for="ok" *ngIf="!loading"></il-icon>
              <il-icon for="spinner" *ngIf="loading"></il-icon>
              {{ getString(outgoingTransfer ? 'btnOutLabel' : 'btnInLabel') }}
            </button>
          </div>
          <div class="col-md-4 col-lg-3 mb-2">
            <button type="button" class="btn btn-danger btn-lg btn-block" (click)="cancelForm()">
              <il-icon for="cancel"></il-icon>
              Abbrechen
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
