<table class="table table-striped">
  <thead>
    <tr>
      <th>Bezeichnung</th>
      <th>Einkaufspreis</th>
      <th>Mindestbestand</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let s of sizes">
      <td>{{ s.description }} {{ s.amount | number }} {{ unit.full }}</td>
      <td>{{ 0.65 | currency:'EUR' }}</td>
      <td>250</td>
      <td>
        <button class="btn btn-warning btn-xs" (click)="showEditModal(u)">
          <il-icon for="edit"></il-icon>
          Bearbeiten
        </button>
        <button class="btn btn-danger btn-xs" (click)="showDeleteModal(u)">
          <il-icon for="delete"></il-icon>
          Löschen
        </button>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="4">
        <button class="btn btn-success btn-sm">
          <il-icon for="plus"></il-icon>
          Größe hinzufügen
        </button>
      </td>
    </tr>
  </tfoot>
</table>
