<table class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Bezeichnung</th>
      <th>Anzahl Slots/Gebinde</th>
      <th>Gebindegröße</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="crateTypes$ | async as crateTypes; else loading">
    <tr *ngFor="let ct of crateTypes">
      <td>{{ ct.id }}</td>
      <td>{{ ct.description }}</td>
      <td>{{ ct.slots }}</td>
      <td>{{ ct.sizeType.description }} {{ ct.sizeType.amount | number }} {{ ct.sizeType.unit.short }}</td>
      <td>
        <span class="pull-right">
          <button class="btn btn-warning btn-sm mr-1" (click)="showEditModal(ct)">
            <il-icon for="edit"></il-icon>
            Bearbeiten
          </button>
          <button class="btn btn-danger btn-sm" (click)="showDeleteModal(ct)">
            <il-icon for="delete"></il-icon>
            Löschen
          </button>
        </span>
      </td>
    </tr>
  </tbody>
  <ng-template #loading>
    <tbody>
      <tr>
        <td colspan="4" class="loading">
          <il-icon for="spinner"></il-icon>
          Laden...
        </td>
    </tbody>
  </ng-template>
</table>

<button class="btn btn-success" type="button" (click)="showCreateModal()">
  <il-icon for="plus"></il-icon>
  Kastengröße hinzufügen
</button>
