<div class="modal-header">
  <h4 class="modal-title pull-left">
    <il-icon for="cash"></il-icon>
    Kassenstand
  </h4>
  <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="modal-body">

      <div class="form-group form-group-lg">
        <label>vorher</label>
        <div class="input-group input-group-lg">
          <input type="number" class="form-control" formControlName="cashBefore" step="0.01">
          <span class="input-group-addon">EUR</span>
        </div>
      </div>

      <div class="form-group form-group-lg">
        <label>nachher</label>
        <div class="input-group input-group-lg">
          <input type="number" class="form-control" formControlName="cashAfter" step="0.01">
          <span class="input-group-addon">EUR</span>
        </div>
      </div>

      <div class="form-group form-group-lg" *ngIf="event.eventType.uiMode === 'event'">
        <label>Trinkgeld</label>
        <div class="input-group input-group-lg">
          <input type="number" class="form-control" formControlName="tip" step="0.01">
          <span class="input-group-addon">EUR</span>
        </div>
      </div>

      <div class="alert alert-warning" *ngIf="cashAfterIsLess">
        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
        Der Kassenstand nachher ist kleiner als vorher. Ist das gewollt?
      </div>

  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success btn-block btn-lg" [disabled]="loading || form.invalid">
      <il-icon for="ok" *ngIf="!loading"></il-icon>
      <il-icon for="spinner" *ngIf="loading"></il-icon>
      Übernehmen
    </button>
  </div>
</form>
