<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" href="#">ILTIS</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#">Link</a></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



<div class="container container-full">

<div class="row">
       <div class="col-md-10 content" style="padding-top: 60px">
              <il-helper></il-helper>
       </div>
       <div class="col-md-2 col-xs-2 side">
          <div style="position:relative;width:100%;height:100%;">
            <div class="top" style="height: 100px; position:absolute;">
                Historie
            </div>

            <div class="scroll-area">
                <div style="">
                  <div class="list-group-item">
                    Cras justo odio
                    <span class="badge">14</span>
                  </div>
                  <div class="list-group-item">Cras justo odio</div>
                  <div class="list-group-item">Cras justo odio</div>
                  <div class="list-group-item">Cras justo odio</div>
                </div>
            </div>

            <div class="bottom" style="bottom:0;width:100%;height: 100px; position:absolute;">
                bottom
            </div>
          </div>

       </div>
  </div>

</div>
