<table class="table table-hover table-striped table-sm">
  <thead>
    <tr>
      <th>#</th>
      <th>Bezeichnung</th>
      <th>Füllmenge</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="sizeTypes$ | async as sizeTypes; else loading">
    <tr *ngFor="let st of sizeTypes">
      <td>{{ st.id }}</td>
      <td>{{ st.description }}</td>
      <td>{{ st.amount | number }} {{ st.unit.short }}</td>
      <td>
        <span class="pull-right">
          <button class="btn btn-warning btn-sm mr-1" (click)="showEditModal(st)">
            <il-icon for="edit"></il-icon>
            Bearbeiten
          </button>
          <button class="btn btn-danger btn-sm" (click)="showDeleteModal(st)">
            <il-icon for="delete"></il-icon>
            Löschen
          </button>
        </span>
      </td>
    </tr>
  </tbody>
  <ng-template #loading>
    <tbody>
      <tr>
        <td colspan="4" class="loading">
          <il-icon for="spinner"></il-icon>
          Laden...
        </td>
    </tbody>
  </ng-template>
</table>

<button class="btn btn-success" type="button" (click)="showCreateModal()">
  <il-icon for="plus"></il-icon>
  Gebindegröße hinzufügen
</button>
