<div class="modal-header">
  <h4 class="modal-title pull-left">
    <il-icon for="edit"></il-icon>
    Kastengröße bearbeiten
  </h4>
  <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<il-crate-type-form
  *ngIf="crateType"
  [edit]="true"
  [sizeTypes]="sizeTypes$ | async"
  [loading]="loading"
  [initialValue]="crateType"
  buttonLabel="Speichern"
  (formSubmitted)="updateCrateType($event)"
  (cancelled)="hideModal()">
</il-crate-type-form>

