.side {
  z-index: 700;
}

.sidebar-toggle {
  position: absolute;
  top: 55px;
  z-index: 1010;
}

.sidebar-toggle button {
  width: 30px;
  height: 40px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border: 1px solid #BBB;
  background-color:#EEE;
  outline: none;
}
