<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
       <a class="navbar-brand" routerLink="/">
        <img alt="Brand" src="assets/iltis.svg" style="height: 20px">
       </a>
    </div>
    <ul class="nav navbar-nav">

      <li [routerLinkActive]="aclass" [routerLinkActiveOptions]="{exact: true}">
        <a routerLink="/event">
          <i class="fa fa-calendar" aria-hidden="true"></i>
          Ereignisse
        </a>
      </li>

      <li class="dropdown" dropdown [routerLinkActive]="aclass">
          <a class="dropdown-toggle" dropdownToggle role="button" aria-haspopup="true" aria-expanded="false">
            <i class="fa fa-plus" aria-hidden="true"></i>
            Neues Ereignis <span class="caret"></span>
            </a>
          <ul class="dropdown-menu" dropdownMenu>
            <li><a routerLink="/event/new/event">
              <i class="fa fa-glass" aria-hidden="true"></i>
              Veranstaltung
            </a></li>
            <li><a routerLink="/event/new/private">
              <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
              Spontanentnahme
            </a></li>
            <li role="separator" class="divider"></li>
            <li><a routerLink="/event/new/purchase">
              <i class="fa fa-shopping-cart" aria-hidden="true"></i>
              Einkauf
            </a></li>
          </ul>
        </li>
      </ul>
    <ul class="nav navbar-nav navbar-right">

    </ul>
  </div>
</nav>
