<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <a class="navbar-brand" routerLink="/">
   <img alt="ILTIS" src="assets/iltis.svg" height="25">
  </a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item" [routerLinkActive]="aclass" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/dashboard">
          <il-icon for="dashboard"></il-icon>
          Dashboard
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="aclass" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/inventory">
          <il-icon for="stock"></il-icon>
          Lagerbestand
        </a>
      </li>
      <li class="nav-item" [routerLinkActive]="aclass" [routerLinkActiveOptions]="{exact: true}">
        <a class="nav-link" routerLink="/event">
          <il-icon for="calendar"></il-icon>
          Ereignisse
        </a>
      </li>

      <li class="nav-item dropdown d-lg-none d-xl-block" dropdown [routerLinkActive]="aclass">
        <a class="nav-link dropdown-toggle" dropdownToggle role="button" aria-haspopup="true" aria-expanded="false">
          <il-icon for="plus"></il-icon>
          Neues Ereignis <span class="caret"></span>
          </a>
        <div class="dropdown-menu" *dropdownMenu>
          <a class="dropdown-item" routerLink="/event/new/event">
            <il-icon for="evEvent"></il-icon>
            Veranstaltung
          </a>
          <a class="dropdown-item" routerLink="/event/new/private">
            <il-icon for="evPrivate"></il-icon>
            Spontanentnahme
          </a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" routerLink="/event/new/purchase">
            <il-icon for="evPurchase"></il-icon>
            Einkauf
          </a>
          <a class="dropdown-item" routerLink="/event/new/stocktake">
            <il-icon for="evStocktake"></il-icon>
            Inventur
          </a>
        </div>
      </li>



    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="nav-item" [routerLinkActive]="aclass">
        <a class="nav-link" routerLink="/management">
          <il-icon for="fa-cogs"></il-icon>
          Verwaltung
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="aclass">
        <a class="nav-link" routerLink="/info">
          <il-icon for="fa-info-circle"></il-icon>
          Info
        </a>
      </li>

      <li class="nav-item" [routerLinkActive]="aclass">
        <a class="nav-link" href="#">
          <il-icon for="fa-user"></il-icon>
          <span>Max</span>
          <span class="d-lg-none d-xl-inline">Mustermann</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
