<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="modal-body">

    <ng-content></ng-content>

    <div class="form-group">
      <label>Bezeichnung</label>
      <span class="small pull-right text-muted">Verbale Bezeichnung, z.B.
        <em>Flasche, Beutel, …</em>
      </span>
      <input type="text" class="form-control form-control-lg" formControlName="description" maxLength="255">
    </div>

    <div class="form-group" *ngIf="!edit">
      <label for="unit">Einheit</label>
      <select class="form-control form-control-lg" id="unit" formControlName="unit" placeholder="Bitte auswählen">
        <option *ngFor="let u of units" [value]="u.id">{{ u.full }} ({{ u.short }})</option>
      </select>
    </div>

    <div class="form-group">
      <label>Füllmenge</label>
      <span class="small pull-right text-muted">Numerische Angabe, z.B.
        <em>0,33</em>
      </span>

      <div class="input-group">
        <input type="text" class="form-control form-control-lg" formControlName="amount" ilMathEval maxLength="15">
        <span class="input-group-addon">
          <span *ngIf="edit">{{ initialValue.unit.full }}</span>
          <span *ngIf="!edit">{{ getUnitById(form.get('unit').value)?.full }}</span>
        </span>
      </div>
      <small *ngIf="edit" class="form-text">Die Füllmenge kann nicht bearbeitet werden. Bitte lege dazu eine neue Gebindegröße an.</small>
    </div>
  </div>

  <il-modal-button-footer>
    <button type="button" class="left btn btn-primary btn-block btn-lg" (click)="cancel()">
      <il-icon for="cancel"></il-icon>
      Abbrechen
    </button>
    <button type="submit" class="right btn btn-success btn-block btn-lg" [disabled]="loading || form.invalid">
      <il-icon [for]="buttonIcon" *ngIf="!loading"></il-icon>
      <il-icon for="spinner" *ngIf="loading"></il-icon>
      {{ buttonLabel }}
    </button>
  </il-modal-button-footer>
</form>
