<form [formGroup]="form" (ngSubmit)="submitForm()">
  <div class="modal-body">

    <ng-content></ng-content>

    <div class="form-group form-group-lg">
      <label>Bezeichnung</label>
      <span class="small pull-right text-muted">Verbale Bezeichnung, z.B. <em>Flasche, Beutel, …</em></span>
      <input type="text" class="form-control" formControlName="description">
    </div>

    <div class="form-group form-group-lg">
      <label>Füllmenge</label>
      <span class="small pull-right text-muted">Numerische Angabe, z.B. <em>0,33</em></span>
      <input type="text" class="form-control" formControlName="amount">
      <p *ngIf="edit" class="help-block small">Die Füllmenge kann nicht bearbeitet werden. Bitte lege dazu eine neue Gebindegröße an.</p>
    </div>

  </div>
  <div class="modal-footer">
    <div class="col-sm-6">
      <button type="button" class="btn btn-primary btn-block btn-lg" (click)="cancel()">
        <il-icon for="cancel"></il-icon>
          Abbrechen
        </button>
    </div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-success btn-block btn-lg" [disabled]="loading || form.invalid">
        <il-icon [for]="buttonIcon" *ngIf="!loading"></il-icon>
        <il-icon for="spinner" *ngIf="loading"></il-icon>
        {{ buttonLabel }}
      </button>
    </div>
  </div>
</form>
