<div class="modal-header">
  <h4 class="modal-title pull-left">
    <il-icon for="delete"></il-icon>
    Gebindegröße entfernen
  </h4>
  <button type="button" class="close pull-right" (click)="hideModal()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ng-template [ngIf]="checkLoading">
    <div class="text-center">
      <il-icon for="spinner" classes="fa-2x"></il-icon>
      <h4>Laden...</h4>
    </div>
  </ng-template>

  <ng-template [ngIf]="!deletable && !checkLoading">
    <p>
      <strong>Diese Gebindegröße kann nicht entfernt werden, weil sie bereits für Transaktionen verwendet wurde.</strong>
    </p>
    <p>Tipp: Du kannst die Größe deaktivieren, damit sie nicht mehr bei Entnahmen zu sehen ist.</p>
  </ng-template>

  <ng-template [ngIf]="deletable">
    Soll die Gebindegröße
    <strong>{{ size?.sizeType.description }} {{ size?.sizeType.amount | number }} {{ product?.unit.full }}</strong> für das Produkt
    <strong>{{ product?.name }}</strong> entfernt werden?
  </ng-template>
</div>

<il-modal-button-footer>
  <button type="button" class="left btn btn-primary btn-block btn-lg" (click)="hideModal()">
    <il-icon for="cancel"></il-icon>
    <span *ngIf="!deletable && !checkLoading; else cancelLabel">Schließen</span>
    <ng-template #cancelLabel>Abbrechen</ng-template>
  </button>

  <button type="button" class="right btn btn-danger btn-block btn-lg" [disabled]="loading || !deletable" (click)="deleteSize()">
    <il-icon for="delete" *ngIf="!loading"></il-icon>
    <il-icon for="spinner" *ngIf="loading"></il-icon>
    Größe entfernen
  </button>
</il-modal-button-footer>
