<div class="row">
  <div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">
          {{ getString('boxHeadline') }}
        </h3>
      </div>
      <div class="panel-body">
        <form [formGroup]="form" (ngSubmit)="submitForm()">
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-12">

                <div class="form-group">
                  <label for="eventType">{{ getString('eventType') }}</label>
                  <select class="form-control" id="eventType" formControlName="eventType" placeholder="Bitte auswählen" [compareWith]="compareEventTypes">
                    <option *ngFor="let et of eventTypes" [ngValue]="et">{{ et.description }}</option>
                  </select>
                </div>

                <div class="alert alert-warning" role="alert" *ngIf="!form.value.eventType.countAllowed">
                  <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                  <strong>Achtung!</strong> Für dieses Ereignis ist keine absolute Zählung möglich!
                </div>

                <!-- FORM Date picker -->
                <div class="form-group">
                  <label for="description">Beschreibung</label>
                  <input type="text" formControlName="description" class="form-control" id="description" [placeholder]="getString('descriptionPlaceholder')">
                </div>
                <div class="form-group" *ngIf="isEventMode">
                  <label for="date">Datum</label>
                  <div class="input-group">
                    <input type="text" class="form-control" [value]="form.value.date | date:'fullDate'" (focus)="datePickerModal.show()">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="datePickerModal.show()">
                        <il-icon for="calendar"></il-icon>
                      </button>
                    </span>

                  </div>
                </div>

                <!-- MODAL Date picker -->
                <div bsModal #datePickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-md">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">
                          <il-icon for="calendar"></il-icon>
                          Datum auswählen
                        </h4>
                        <button type="button" class="close pull-right" (click)="datePickerModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div class="row">
                          <div class="col-md-8">
                            <datepicker formControlName="date"></datepicker>
                          </div>
                          <div class="col-md-4">
                            <button type="button" class="btn btn-primary btn-block" (click)="setDate('today')">
                              Heute
                            </button>
                            <button type="button" class="btn btn-primary btn-block" (click)="setDate('yesterday')">
                              Gestern
                            </button>

                            <p class="text-center date-preview">
                              {{ form.value.date | date:'longDate' }}
                            </p>

                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-block btn-lg" (click)="datePickerModal.hide()">
                          <il-icon for="ok"></il-icon>
                          OK
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- FORM Time picker -->
                <div class="form-group" *ngIf="isEventMode">
                  <label for="time">Uhrzeit</label>
                  <div class="input-group">
                    <input type="text" class="form-control" [value]="form.value.time | date:'HH:mm a'" (focus)="timePickerModal.show()">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button" (click)="timePickerModal.show()">
                        <il-icon for="clock"></il-icon>
                      </button>
                    </span>

                  </div>
                </div>

                <!-- MODAL Time picker -->
                <div bsModal #timePickerModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title pull-left">
                          <il-icon for="clock"></il-icon>
                          Uhrzeit auswählen
                        </h4>
                        <button type="button" class="close pull-right" (click)="timePickerModal.hide()" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        <div stye="width: 150px; margin: auto">
                          <timepicker formControlName="time" [showMeridian]="false" [minuteStep]="15"></timepicker>
                        </div>
                        <div class="text-center">
                          <button type="button" class="btn btn-primary" (click)="setTime()">
                            Jetzt
                          </button>
                          <button type="button" class="btn btn-primary" (click)="setTime(18, 30)">
                            18:30
                          </button>
                          <button type="button" class="btn btn-primary" (click)="setTime(19, 0)">
                            19:00
                          </button>
                          <button type="button" class="btn btn-primary" (click)="setTime(21, 0)">
                            21:00
                          </button>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary btn-block btn-lg" (click)="timePickerModal.hide()">
                          <il-icon for="ok"></il-icon>
                          OK
                        </button>
                      </div>
                    </div>
                  </div>
                </div>




                <div class="form-group" *ngIf="!edit">
                  <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="loading || form.invalid">
                    <il-icon for="ok" *ngIf="!loading"></il-icon>
                    <il-icon for="spinner" *ngIf="loading"></il-icon>
                    {{ getString('btnLabel') }}
                  </button>
                </div>

                <div class="form-group" *ngIf="edit">
                  <div class="col-md-6">
                    <button type="button" class="btn btn-danger btn-lg btn-block" (click)="cancelForm()">
                      <il-icon for="cancel"></il-icon>
                      Abbrechen
                    </button>
                  </div>
                  <div class="col-md-6">
                    <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="loading || form.invalid">
                      <il-icon for="ok" *ngIf="!loading"></il-icon>
                      <il-icon for="spinner" *ngIf="loading"></il-icon>
                      Speichern
                    </button>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
