/* You can add global styles to this file, and also import other style files */
.container-full {
  margin: 0 auto;
  width: 100%;
}

.side{
  position:fixed;
  top:0;
  right:0;
  height:100%;
  padding:0;
  padding-top: 50px;
  border-left: 1px solid #BBB;
  background-color:#EEE;
}


