.loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 200px;
  font-size: 24pt;
}

.loaderzoom {
  width: 30%;
  transition: all 20s ease-out;
  transform: scale(1.5);
}

.content {
  padding-top: 60px;
}

.simple-notification {
  z-index: 8000;
}


