@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';


body {
  overflow-y: scroll;
}

.loader {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  height: 200px;
  font-size: 24pt;
}

.loaderzoom {
  visibility: visible !important;
  width: 30%;
  transition: all 20s ease-out;
  transform: scale(1.5);
}

.content {
  padding-top: 70px;
}

.simple-notification-wrapper {
  z-index: 8000 !important;
}


