<div class="row">
  <div class="col-md-10 content">
    <div class="page-header">
      <h1>
        <i class="fa fa-plus" aria-hidden="true"></i>
        {{ getString('headline') }}
      </h1>
    </div>



  </div>
</div>


<div class="container-fluid">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ getString('boxHeadline') }}
          </h3>
        </div>
        <div class="panel-body">
          <form [formGroup]="form" (ngSubmit)="submitForm()">
            <div class="container-fluid">
              <div class="row">
                <div class="col-md-12">

                  <div class="form-group" *ngIf="eventTypes.length > 1">
                    <label for="eventType">Veranstaltungstyp</label>
                    <select class="form-control" id="eventType" formControlName="eventType" placeholder="Bitte auswählen">
                      <option *ngFor="let et of eventTypes" [value]="et.id">{{ et.description }}</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="description">Beschreibung</label>
                    <input type="text" formControlName="description" class="form-control" id="description" [placeholder]="getString('descriptionPlaceholder')">
                  </div>
                  <div class="form-group" *ngIf="isEventMode">
                    <label for="date">Datum</label>
                    <div class="input-group">
                      <input type="text" class="form-control" [value]="form.value.date | date:'fullDate'" (focus)="lgModal.show()">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" (click)="lgModal.show()">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </button>
                      </span>

                    </div>
                  </div>


                  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-md">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title pull-left">Datum auswählen</h4>
                            <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                              <div class="col-md-8">
                                <datepicker formControlName="date"></datepicker>
                              </div>
                              <div class="col-md-4">
                                <button type="button" class="btn btn-primary btn-block" (click)="setDate('today')">
                                  Heute
                                </button>
                                <button type="button" class="btn btn-primary btn-block" (click)="setDate('yesterday')">
                                  Gestern
                                </button>

                              </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-primary btn-block btn-lg" (click)="lgModal.hide()">
                              <i class="fa fa-check" aria-hidden="true"></i>
                              OK
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>


                  <div class="form-group" *ngIf="isEventMode">
                    <label for="time">Uhrzeit</label>
                    <input type="time" formControlName="time" class="form-control" id="time" useValueAsDate>
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-success btn-lg btn-block" [disabled]="loading || form.invalid">
                      <i class="fa fa-check" *ngIf="!loading" aria-hidden="true"></i>
                      <i class="fa fa-circle-o-notch fa-spin fa-fw" *ngIf="loading" aria-hidden="true"></i>
                      {{ getString('btnLabel') }}
                    </button>
                  </div>

                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
