<div class="container content">
  <div class="row" *ngIf="!createCountAllowed">
    <div class="col-md-8">
      <div class="alert alert-warning" role="alert">
        <strong>Achtung!</strong> Es gibt ein aktives Ereignis, für das eine Lager- oder Kühlschrankzählung durchgeführt werden kann.<br>
        Du kannst deshalb nur Ereignisse anlegen, für die <strong>keine Zählung</strong> durchgeführt wird.
      </div>
    </div>
  </div>

  <il-event-form
    [eventTypes]="eventTypes"
    [uiMode]="uiMode"
    (submitted)="createEvent($event)"
    (valueChanged)="hasChanges = true">
  </il-event-form>
</div>
